<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6" *ngFor="let topCard of topCards">
                    <app-top-card [topCard]="topCard"></app-top-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="mb-5 col-xl-8">
            <app-chart [chart]="charts[0]" [weekLabels]="weekLabels" [monthLabels]="monthLabels"
                [createOrRecreate]="createOrRecreateChart.asObservable()" [update]="updateChart.asObservable()">
            </app-chart>
        </div>
        <div class="mb-5 col col-xl-4">
            <app-top-card [topCard]="followerTopCard"></app-top-card>
            <div class="card mt-4">
                <div class="card-header">
                    <span class="text-uppercase">External Actions</span>
                </div>
                <div class="card-body" *ngIf="account?.email != 'unavailable'">
                    <a class="btn w-100 mt-2" [disable]="(account?.link != 'unavailable')" target="_blank"
                        [href]="account?.link"
                        [ngClass]="(account?.link != 'unavailable')?'btn-outline-danger':'disable'">
                        Visit Quora Account &nbsp;<i class="fab fa-quora"></i>
                    </a>
                    <div class="row mt-2 mx-0">
                        <button class="btn col" [disable]="(account?.email != 'unavailable')"
                            [cdkCopyToClipboard]="account?.email" placement="top" ngbTooltip="Copy to clipboard"
                            [ngClass]="(account?.email != 'unavailable')?'btn-outline-danger':'disable'"
                            #emailTooltip="ngbTooltip" (click)="emailTooltip.close()">
                            Email &nbsp;<i class="fas fa-clipboard"></i>
                        </button>
                        <button class="btn col" [disable]="(account?.password != 'unavailable')"
                            [cdkCopyToClipboard]="account?.password" placement="top" ngbTooltip="Copy to clipboard"
                            [ngClass]="(account?.password != 'unavailable')?'btn-outline-danger':'disable'"
                            #passwordTooltip="ngbTooltip" (click)="passwordTooltip.close()" *ngIf="isLoggedInUserAdmin">
                            Account Password &nbsp;<i class="fas fa-clipboard"></i>
                        </button>
                    </div>
                    <a class="btn w-100 mt-2" [disable]="(account?.email != 'unavailable')" target="_blank"
                        [href]="(account?.email!='unavailable')?'mailto:'+account?.email:''"
                        [ngClass]="(account?.email != 'unavailable')?'btn-outline-danger':'disable'">
                        Send Mail &nbsp;<i class="fas fa-paper-plane"></i>
                    </a>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <a class="btn btn-outline-danger w-100"
                        [routerLink]="'../../questions-list/requested/'+account?.id">
                        Go to Questions &nbsp;<i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mb-5 col-xl-8">
            <app-chart [chart]="charts[1]" [weekLabels]="weekLabels" [monthLabels]="monthLabels"
                [createOrRecreate]="createOrRecreateChart.asObservable()" [update]="updateChart.asObservable()">
            </app-chart>
        </div>
        <div class="mb-5 col-xl-4">
            <div class="card mt-2">
                <div class="card-body">
                    <a class="btn btn-outline-danger w-100"
                        [routerLink]="'../../archieve/answered/'+account?.id">
                        Go to Archieve &nbsp;<i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>