<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <a class="navbar-brand pt-0" [style.height.px]="80" routerLinkActive="active" [routerLink]="['/dashboard']">
        <img src="./assets/img/void/vidyalankar_bird.png"  class="navbar-brand-img" [style.max-height.em]="4" alt="...">
    </a>
    <hr class="my-3">
    <li class="navbar-nav">
        <a class="nav-link" style="cursor: pointer;" (click)="expandedQuora = !expandedQuora">
            Quora &nbsp;
            <i class="ni ni-bold-right" *ngIf="!expandedQuora"></i>
            <i class="ni ni-bold-down" *ngIf="expandedQuora"></i>
        </a>
    </li>
    <div *ngIf="expandedQuora">
        <li class="nav-link" style="cursor: pointer;">
            <a class="nav-link-inner--text" (click)="navigate('quora/summary')">
                <i class="fas fa-chart-pie nav-link-icon"></i>
                &nbsp; Summary
            </a>
        </li>
        <li class="nav-link" style="cursor: pointer;" (click)="expandedQuoraQuestions = !expandedQuoraQuestions">
            <a class="nav-link-inner--text">
                <i class="fas fa-question-circle nav-link-icon"></i>
                &nbsp; Questions &nbsp;
                <i class="ni ni-bold-right" *ngIf="!expandedQuoraQuestions"></i>
                <i class="ni ni-bold-down" *ngIf="expandedQuoraQuestions"></i>
            </a>
        </li>
        <div *ngIf="expandedQuoraQuestions">
            <li class="nav-link" *ngFor="let tab of expandedQuoraQuestionsTab">
                <a class="nav-link-inner--text" (click)="navigate('/quora/questions-list/' + tab.toLowerCase())">
                     &nbsp; {{ tab.substring(0,1).toUpperCase() + tab.substring(1,tab.length).toLowerCase() + " Questions"  }}
                </a>
            </li>
            <!-- <li class="nav-link">
                <a class="nav-link-inner--text" (click)="navigate('/quora/questions-list/requested')">
                     &nbsp; Requested Questions
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link-inner--text" (click)="navigate('/quora/questions-list/asked')">
                     &nbsp; Asked Questions
                </a>
            </li> -->
            <!-- <li class="nav-link" *ngFor="let account of quoraAccounts">
                <a class="nav-link-inner--text">
                     &nbsp; {{ account.first_name + " " + account.last_name }}
                </a>
            </li> -->
        </div>
        <li class="nav-link" style="cursor: pointer;" (click)="expandedQuoraAccounts = !expandedQuoraAccounts">
            <a class="nav-link-inner--text">
                <i class="ni ni-single-02 nav-link-icon"></i>
                &nbsp; Accounts &nbsp;
                <i class="ni ni-bold-right" *ngIf="!expandedQuoraAccounts"></i>
                <i class="ni ni-bold-down" *ngIf="expandedQuoraAccounts"></i>
            </a>
        </li>
        <div *ngIf="expandedQuoraAccounts">
            <li class="nav-link" *ngFor="let account of quoraAccounts">
                <a class="nav-link-inner--text" (click)="navigate('/quora/account/' + account.id)">
                     &nbsp; {{ account.first_name + " " + account.last_name }}
                </a>
            </li>
        </div>
    </div>
</nav>