<div class="row">
    <div class="col-6">
        <div class="btn-group float-left">
            <button *ngFor="let division of divisionArray" class="btn" (click)="modifySelectedDivisions(division)"
                [ngClass]="selectedDivisions.includes(division.id)? 'btn-danger': 'btn-outline-danger'">
                {{ division.division }}
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="btn-group float-right">
            <button *ngFor="let timePeriod of timePeriodEnumArray" class="btn"
                (click)="modifySelectedTimePeriod(timePeriod)"
                [ngClass]="timePeriod==selectedTimePeriod? 'btn-danger': 'btn-outline-danger'">
                {{ "Past " + timePeriod }}
            </button>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-6">
        <div class="btn-group float-left" *ngIf="accountId">
            <button *ngFor="let type of typeDisplayArray" class="btn" (click)="modifySelectedType(type)"
                [ngClass]="type==selectedType? 'btn-danger': 'btn-outline-danger'">
                {{ type.substring(0,1).toUpperCase() + type.substring(1,type.length).toLowerCase() }}
            </button>
        </div>
    </div>
    <div class="col-4">
        <div ngbDropdown placement="left" class="float-right"
            *ngIf="['NEW','ASKED','REQUESTED'].includes(selectedType)">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0" ngbDropdownToggle>
                <span>{{ 'Assign '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>
            </button>
            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" *ngFor="let account of accountArray"
                    (click)="updateQuestions(account.id, 'ASSIGNED')">{{account.first_name + " " + account.last_name}}</a>
            </div>
        </div>
        <div *ngIf="selectedType=='ANSWERED'" class="float-right">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0" (click)="updateQuestions(accountId, 'EVALUATED')">
                <span>{{ 'Evaluate '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>
            </button>
        </div>
        <div *ngIf="selectedType=='ASSIGNED'" class="float-right">
            <button class="btn" [ngClass]="dataSource && dataSource.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="!dataSource || dataSource.length==0" (click)="downloadAssignedQuestions(accountId)">
                <span>Download all pending questions</span>
            </button>
        </div>
    </div>
    <div class="col-2">
        <div *ngIf="['NEW','ASKED','ANSWERED'].includes(selectedType)" class="float-right">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0" (click)="disregardSelectedQuestions()">
                <span>{{ 'Delete '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>&nbsp;<i
                    class="fas fa-trash-alt" style="vertical-align:middle;"></i>
            </button>
        </div>
        <div *ngIf="selectedType=='ASSIGNED'" class="float-right">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0"
                (click)="revertActionOnSelectedQuestions(accountId, 'ASSIGNED')">
                <span>{{ 'Unassign '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>
            </button>
        </div>
        <div *ngIf="selectedType=='EVALUATED'" class="float-right">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0"
                (click)="revertActionOnSelectedQuestions(accountId, 'EVALUATED')">
                <span>{{ 'Unevaluate '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>
            </button>
        </div>
        <div *ngIf="selectedType=='REQUESTED'" class="float-right">
            <button class="btn" [ngClass]="selectedQuestions?.length>0? 'btn-outline-default': 'disabled'"
                [disabled]="selectedQuestions?.length==0" (click)="passQuestions()">
                <span>{{ 'Pass '+ selectedQuestions.length + ' Question' +  (selectedQuestions.length!=1? 's': '')}}</span>
            </button>
        </div>
    </div>
</div>
<div class="row mt-2" *ngIf="selectedType=='REQUESTED'">
    <div class="col">
        <span class="badge badge-warning float-right">Please pass unrequired Questions to avoid load on system!</span>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div *ngIf="dataSource && dataSource.length > 0; else noQuestions" class="d-flex flex-row">
            <app-table [displayedColumns]="displayedColumns" [displayedColumnsHeaders]="displayedColumnsHeaders"
                [displayedColumnsWidth]="displayedColumnsWidth" [dataSource]="dataSource" [totalLength]="totalLength"
                [pageSizeOptions]="pageSizeOptions" [isCheckbox]="isCheckbox" [pageIndex]="selectedPage"
                [pageSize]="selectedSize" [showFirstLastButtons]="'true'" [clearSelect]="clearSelect.asObservable()"
                (pageUpdateEvent)="pageUpdateEvent($event)" (selectionEvent)="selectionEvent($event)">
            </app-table>
        </div>
        <ng-template #noQuestions>
            <div class="pt-4">
                <span>Oops! No questions fulfilled your search criteria</span>
            </div>
        </ng-template>
    </div>
</div>