<div>
    <div class="modal-content">
        <div class="modal-header alert-{{ headerClass }}">
            <p class="modal-title" id="modal-title-default">{{ title }}</p>
            <button type="button" class="close" (click)="close('false')" *ngIf="!isLoading">
                <span>×</span>
            </button>
        </div>
        <div class="modal-body">
            <p *ngIf="bodyContentBeforeList && bodyContentBeforeList.length>0">
                {{ bodyContentBeforeList }}
            </p>
            <ul *ngIf="bodyContentList && bodyContentList.length>0">
                <li *ngFor="let listItem of bodyContentList">{{ listItem }}</li>
            </ul>
            <p *ngIf="bodyContentAfterList && bodyContentAfterList.length>0">
                {{ bodyContentAfterList }}
            </p>
        </div>
        <div class="modal-footer" *ngIf="!isLoading">
            <button type="button" class="btn btn-outline-danger float-right" *ngIf="showConfirm"
                (click)="close('confirm')">Confirm</button>
            <button type="button" class="btn btn-outline-default float-right" 
                (click)="close('close')">Close</button>
        </div>
    </div>
</div>