<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="align-items-center ">
      <ng-container *ngIf="isCheckbox" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="align-middle thead-light" [style.width.%]="getColumnWidth('checkbox')">
          <input type="checkbox" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        class="mb-0 px-1">
        </th>
        <td mat-cell *matCellDef="let row" class="align-middle" [style.width.%]="getColumnWidth('checkbox')">
          <input type="checkbox" (click)="$event.stopPropagation()"
                        (change)="$event ? rowToggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        class="mb-0 px-1">
        </td>
      </ng-container>
      <ng-container [matColumnDef]="column" *ngFor="let column of getDisplayedColumns(false); let i=index">
        <th mat-header-cell *matHeaderCellDef class="align-middle thead-light px-1" [style.width.%]="getColumnWidth(column)"><p class="mb-0">{{ displayedColumnsHeaders[i] }}</p></th>
        <td mat-cell *matCellDef="let element" class="align-middle px-1" [style.width.%]="getColumnWidth(column)">
          <p *ngIf="specialColumns.indexOf(column) == -1" class="mb-0">{{ element[column] }}</p>
          <a *ngIf="column == 'question_text'" href="{{element['question_url']}}" target="_blank">
              <p class="mb-0">{{ element[column] }}</p>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(true); sticky: true" class="thead-light"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(true)"></tr>
  </table>
</div>
<div class="bottom-sticky row">
  <div class="col-8">
    <div class="d-flex flex-row justify-content-start align-items-center">
      <div *ngIf="pageSizeOptions && pageSizeOptions.length > 1" class="mr-4">
        <div ngbDropdown placement="right">
          <button class="btn btn-outline-default mt-2" ngbDropdownToggle>
            <span>Change Page Size</span>&nbsp;<i class="ni ni-bold-right" style="vertical-align:middle;"></i>
          </button>
          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
            <div *ngFor="let pageSizeOption of pageSizeOptions">
              <a class="dropdown-item" (click)="changePageSize(pageSizeOption)">{{ pageSizeOption + " items" }}</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex flex-row justify-content-start align-items-center mt-2">
          <span class="mr-2">Go to page:</span>
          <input type="text" class="form-control w-50" [value]="pageIndex + 1" (change)="changePageNumber($event.target.value - 1)">
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <mat-paginator #paginator [length]="totalLength" [pageSize]="pageSize" [hidePageSize]="'true'"
    [pageIndex]="pageIndex" [showFirstLastButtons]="showFirstLastButtons" (page)="paginationChange($event)">
    </mat-paginator>
  </div>
</div>